@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #300f42;
}

h1{
    color:white;
    font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;

}

canvas{
    display:block;
    margin: auto;
}

p{
    text-align-last: center;
    color:white;
    padding:15px;
      font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
}


a{
 color:#ff9f39;
}
