/* h1 font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

/* h2 font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    background-color: #030726;
}

h1{
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: #ffebeb;
}

h2{
    text-align: center;
    color: #ffebeb;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

a{
  color:#ff9c6d
}