/* h1 font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

/* h2 font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    background-color: #030726;
}

h1{
    background-color:#511080;
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: #ffebeb;
}

h2{
    text-align: center;
    color: #ffebeb;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

a{
  color:#ff9c6d
}

.projectLink{
  position: relative;
  width:500px;
  height:500px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.projectLink:hover img{
  opacity: 0.5;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease ;
}

.alignDivs{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.pHover{
    position:relative;
    margin-top:-50%;
    opacity:0;
}

.projectLink:hover .pHover{
    opacity:1;
    text-align: center;
    color: #ffebeb;
    font-family: "Titillium Web", sans-serif;
    font-size:30px;
  font-weight: 600;
  font-style: normal;
}