/* heading font */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

h1{
    background-color: #ffd148;
    font-family: "Electrolize", sans-serif, Georgia;
  font-weight: 100px;
    font-size: 80px;
  font-style: italic;
    text-align: center;
}

h2{
    text-align: center;
    font-family: "Electrolize", sans-serif, Georgia;
  font-weight: 100px;
    font-size: 30px;
  font-style: normal;
}

body{
    background-color: #88ad3d;
}

.imageBlock{
    border: green;
  margin-top: 1%;
  background: #1a3b05;
  text-align: center;
}
