/* h1 font: Ribeye Marrow */
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
/* p font: Saira Semi Condensed Static */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #0e4a73;
}

h1{
    text-align: center;
font-size:50px;
   font-family: "Ribeye Marrow", serif;
  font-weight: 300;
  font-style: normal;
  color: azure;
}

canvas{
    display:block;
    margin: auto;
}

p{
	padding: 10px;
  text-align: center;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
font-size: 30px;
  font-style: normal;
  color: azure;  
}

a{
 color:#ff9f39;
}

.pLink{
		padding: 10px;
  text-align: center;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
font-size: 20px;
  font-style: normal;
  color: azure;  
}