@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #1fccdf;
}

h1{
    color:#0c056f;
    font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;

}

canvas{
    display:block;
    margin-left:32%;
}

p{
    text-align-last: center;
    color:#0c056f;
    padding:15px;
      font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
}

#button-holder1{
    display:flex;
    position:absolute;
    inset-inline-start: 5%;
    inset-block-start:55%;
}

#button-holder2{
    display:flex;
    position:absolute;
    inset-inline-start: 15%;
    inset-block-start:55%;
}
#button-holder3{
    display:flex;
    position:absolute;
    inset-inline-start: 6%;
    inset-block-start:40%;
}

#button-holder4{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:40%;
}

a{
 color:#ff9f39;
}

#slider-holder1{
    display:flex;
    position:absolute;
    inset-inline-start: 5.5%;
    inset-block-start:65%;
}

#slider-holder2{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:65%;
}

#slider-holder3{
    display:flex;
    position:absolute;
    inset-inline-start: 5.5%;
    inset-block-start:50%;
}

#slider-holder4{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:50%;
}


