@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #1fccdf;
}

h1{
    color:#0c056f;
    font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
    margin-bottom: 10px;

}

canvas{
    display:block;
    margin-left:32%;
}

p{
    color:#0c056f;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
}

.bottomText{
    text-align: center;
    color:#0c056f;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
    margin-left:10%;
}

.leftText{
  display: flex;
  position: absolute;
  gap: 60px; 
  margin-top: 20px;
margin-left:2%;
    
}

.controlsText{
    color:#0c056f;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
    margin-bottom: 20px;
}

.emphasis{
    color:#8e0058;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:20px;
}


#button-holder1{
    display:flex;
    position:absolute;
    inset-inline-start: 5%;
    inset-block-start:65%;
}

#button-holder2{
    display:flex;
    position:absolute;
    inset-inline-start: 15%;
    inset-block-start:65%;
}
#button-holder3{
    display:flex;
    position:absolute;
    inset-inline-start: 6%;
    inset-block-start:50%;
}

#button-holder4{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:50%;
}

#button-holder5{
    display:flex;
    position:absolute;
    inset-inline-start: 88%;
    inset-block-start:35%;
}

#button-holder6{
    display:flex;
    position:absolute;
    inset-inline-start: 86%;
    inset-block-start:55%;
}

a{
 color:#ff9f39;
}

#slider-holder1{
    display:flex;
    position:absolute;
    inset-inline-start: 5.5%;
    inset-block-start:75%;
}

#slider-holder2{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:75%;
}

#slider-holder3{
    display:flex;
    position:absolute;
    inset-inline-start: 5.5%;
    inset-block-start:60%;
}

#slider-holder4{
    display:flex;
    position:absolute;
    inset-inline-start: 16%;
    inset-block-start:60%;
}


